


process {

    withName: '.*CONCAT_SORT_RANKED_SNVS:BCFTOOLS_SORT' {
        ext.prefix = {
            if (meta.set == 'clinical') {
                return "${meta.id}.hard-filtered"
            } 
            def name = []
            name << "${meta.id}_snvs"
            if (!params.skip_snv_annotation) {
                name << "annotated"
            }
            if (!params.skip_rank_variants) {
                name << "ranked"
            }
            if (meta.set) {
                name << "${meta.set}"
            }
            return name.join('_')
        }
    }
    
    withName: '.*:NALLO:BCFTOOLS_VIEW_SV' {
        ext.prefix = {
            if (meta.set == 'clinical') {
                return "${meta.id}.cnv_sv"
            }
            def name = []
            name << "${meta.id}_svs"
            if (!params.skip_sv_annotation) {
                name << "annotated"
            }
            if (!params.skip_rank_variants) {
                name << "ranked"
            }
            if (meta?.containsKey('set')) {
                name << "${meta.set}"
            }
            return name.join('_')
        }
    }

}

